<div class="container">
  <h6>My Education</h6>
  <ul class="heroes">
    <li *ngFor="let school of Schools" class="no-bullet">
      <div class="text-school-name">{{school.name}}</div>
      <div class="row">
        <div class="col-3">
            <img class="img-fluid max-width" src={{school.logo}}>
        </div>
        <div col="col9">
          
          <div class="text-years">From <span>{{school.periodStart | date: 'MM/yyyy'}}</span> to <span>{{school.periodEnd | date: 'MM/yyyy'}}</span></div>
          <div class="text-school-description">{{school.description}}</div>
        </div>
      </div>
    </li>
  </ul>
</div>
