<div class="container">
  <div class="row">
    <div class="col-3">
      <img class="img-fluid max-width" src='assets/yo.jpg'>
    </div>
    <div class="col-9">
      <p class="align-middle">
        6 years of experience developing C# .NET solutions making solutions for automotive and banking application domains. 
        Master’s in computer science by CICESE Research center, enthusiastic about artificial intelligence topics (genetic 
        algorithms, machine learning, NLP, Image processing, etc). Volunteer on the diffusion, application and teaching of 
        Artificial intelligence topics.
      </p>
    </div>
  </div>
</div>


